.nunito{font-family: 'Nunito Sans', sans-serif;}
.raleway{font-family: 'Raleway', sans-serif;}

#main_menu{}
  #main_menu a{
    text-transform:uppercase;
    font-size:.8rem;
  }

.page-header{
  background-position:center right;
  background-size: 50% auto;
  background-repeat:no-repeat;
  background-blend-mode: exclusion;
}
  .page-header h4{
    font-family: 'Nunito Sans', sans-serif;
    font-size:.8rem;
    margin:0;
  }

  .page-header h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size:1.9rem;
    margin:0;
  }

  .page-header-yellow{
    background-color:#FDCE10;
    color:#FFFFFF;
    background-image:url(../images/sea_life_58_argonaut.png);
  }


#progress-list-container{}

  #progress-list{
    margin:0 0 40px 30px;
  }

  #progress-list-container li:before{
    content: "";
    position: absolute;
    top: 20px;
    left: -29px;
    width: 2px;
    height: 100%;
    background-color:#c0392b;
  }

  #progress-list-container li.progress-last:before{
    height:0;
  }

  #progress-list li{
    padding:5px 0;
    position:relative;
  }

  #progress-list a:after{
    content: "";
    position: absolute;
    left: -32px;
    top: 15px;
    width: 8px;
    height: 8px;
    border-radius:8px;
  }

  #progress-list a{
    color:#6D6D6D;
    font-family: 'Nunito Sans', sans-serif;
    font-size:.7rem;
  }

  #progress-list .section-title a{
    font-weight:bold;
  }

  #progress-list .section-title a:after{
    color:#FFFFFF;
    font-size:.6rem;
    font-weight:bold;
    text-align:center;
    line-height:16px;
    left: -36px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius:16px;
    background-color:#FFFFFF;
  }

  #progress-list .section-title.section-1 a:after{
    content:"1";
    color:#0053a0;
    border:1px solid #0053a0;
  }

  #progress-list .section-title.section-2 a:after{
    content:"2";
    color:#00aeef;
    border:1px solid #00aeef;
  }

  #progress-list .section-title.section-3 a:after{
    content:"3";
    color:#05d0d7;
    border:1px solid #05d0d7;
  }

  #progress-list .section-title.section-4 a:after{
    content:"4";
    color:#14dda2;
    border:1px solid #14dda2;
  }

  #progress-list .section-title.section-5 a:after{
    content:"5";
    color:#fdce10;
    border:1px solid #fdce10;
  }

  #progress-list .section-title.section-6 a:after{
    content:"6";
    color:#fdc04c;
    border:1px solid #fdc04c;
  }

  #progress-list .section-title.section-7 a:after{
    content:"7";
    color:#ff6829;
    border:1px solid #ff6829;
  }

  #progress-list .progress-item.section-1 a:after{
    color:#0053a0;
    border:1px solid #0053a0;
    background-color:#FFF;
  }

  #progress-list .progress-item.section-2 a:after{
    color:#00aeef;
    border:1px solid #00aeef;
    background-color:#FFF;
  }

  #progress-list .progress-item.section-3 a:after{
    color:#05d0d7;
    border:1px solid #05d0d7;
    background-color:#FFF;
  }

  #progress-list .progress-item.section-4 a:after{
    color:#14dda2;
    border:1px solid #14dda2;
    background-color:#FFF;
  }

  #progress-list .progress-item.section-5 a:after{
    color:#fdce10;
    border:1px solid #fdce10;
    background-color:#FFF;
  }

  #progress-list .progress-item.section-6 a:after{
    color:#fdc04c;
    border:1px solid #fdc04c;
    background-color:#FFF;
  }

  #progress-list .progress-item.section-7 a:after{
    color:#ff6829;
    border:1px solid #ff6829;
    background-color:#FFF;
  }

  /* Section Specific colors */
  #progress-list-container li.section-1:before,
  #progress-list .section-1.section-title.complete a:after,
  #progress-list .section-1.progress-item.complete a:after{background-color:#0053a0;color:#FFFFFF}
  #progress-list-container li.section-2:before,
  #progress-list .section-2.section-title.complete a:after,
  #progress-list .section-2.progress-item.complete a:after{background-color:#00aeef;color:#FFFFFF}
  #progress-list-container li.section-3:before,
  #progress-list .section-3.section-title.complete a:after,
  #progress-list .section-3.progress-item.complete a:after{background-color:#05d0d7;color:#FFFFFF}
  #progress-list-container li.section-4:before,
  #progress-list .section-4.section-title.complete a:after,
  #progress-list .section-4.progress-item.complete a:after{background-color:#14dda2;color:#FFFFFF}
  #progress-list-container li.section-5:before,
  #progress-list .section-5.section-title.complete a:after,
  #progress-list .section-5.progress-item.complete a:after{background-color:#fdce10;color:#FFFFFF}
  #progress-list-container li.section-6:before,
  #progress-list .section-6.section-title.complete a:after,
  #progress-list .section-6.progress-item.complete a:after{background-color:#fdc04c;color:#FFFFFF}
  #progress-list-container li.section-7:before,
  #progress-list .section-7.section-title.complete a:after,
  #progress-list .section-7.progress-item.complete a:after,
  #progress-list .progress-last a:after{background-color:#ff6829;color:#FFFFFF}


footer{
  border-top:1px solid rgba(202,202,202,0.5);
  background-image:url(../images/footer-illustration.png);
  background-size:50% auto;
  background-repeat:no-repeat;
  background-position:right 20px;
}

  footer .footer-nav-title{
    color:#00AEEF;
    font-size:.8rem;
    font-weight:bold;
    text-transform:uppercase;
  }
  footer .list-unstyled li{
    margin:0;
  }
  footer .list-unstyled a{
    font-size:.8rem;
    color:#3e3e3e;
  }

#copyright{
  color:#FFFFFF;
  font-size:.8rem;
}

.blue-green-gradient-bg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0053a0+0,00aeef+50,14dda2+100 */
  background: #0053a0; /* Old browsers */
  background: -moz-linear-gradient(left, #0053a0 0%, #00aeef 50%, #14dda2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0053a0 0%,#00aeef 50%,#14dda2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0053a0 0%,#00aeef 50%,#14dda2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0053a0', endColorstr='#14dda2',GradientType=1 ); /* IE6-9 */
}


@media(max-width: 1199.98px){

  footer{
    background-position: right 40px;
  }

}

@media(max-width: 991.98px){

  footer{
    background-position: right 70px;
  }

}

@media(max-width: 767.98px){

  html{
    font-size:125%;
  }

  #progress-list li.section-title{
    display:inline-block;
  }
    .progress-item{
      display:none;
    }

    #progress-list-container li:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }

    #progress-list .section-title a:after {
        left: -10px;
        top: -8px;
    }

  footer{
    background-image:none;
  }

}

@media(max-width: 575.98px){  }
